In [53]:
import pandas as pd

In [54]:
df_test = pd.read_csv(r"C:\Users\DELL\Desktop\test.csv")
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [25]:
# Keep the 'Id' column
ids = df_test['Id']

# Drop the 'Id' column from the test data
# df_test = df_test.drop('Id', axis=1)

In [55]:
# Identify numeric columns with missing values and their count
numeric_columns_with_na = df_test.select_dtypes(include=['number']).isnull().sum()
numeric_columns_with_missing_values = numeric_columns_with_na[numeric_columns_with_na > 0]

# Display the numeric columns with missing values and their count
print(numeric_columns_with_missing_values)

LotFrontage     227
MasVnrArea       15
BsmtFinSF1        1
BsmtFinSF2        1
BsmtUnfSF         1
TotalBsmtSF       1
BsmtFullBath      2
BsmtHalfBath      2
GarageYrBlt      78
GarageCars        1
GarageArea        1
dtype: int64

In [56]:
df_test['LotFrontage'].fillna(df_test['LotFrontage'].mean(),inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5456\535834273.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['LotFrontage'].fillna(df_test['LotFrontage'].mean(),inplace=True)

In [57]:
df_test.dropna(subset=["MasVnrArea",
"BsmtFinSF1",  
"BsmtFinSF2",  
"BsmtUnfSF",   
"TotalBsmtSF",
"BsmtFullBath",
"BsmtHalfBath",
"GarageYrBlt", 
"GarageCars",  
"GarageArea",], inplace=True)

In [58]:
ids = df_test['Id']
df_test = df_test.drop('Id', axis=1)

In [59]:
from sklearn.preprocessing import LabelEncoder,StandardScaler
enc= LabelEncoder()
scaler= StandardScaler()
# Apply label encoding to categorical columns
for column in df_test.select_dtypes(include=['object']).columns:
    df_test[column] = enc.fit_transform(df_test[column])

In [60]:
# Scale the test data
df_test_scaled = scaler.fit_transform(df_test)

In [ ]:
df_test

In [61]:
import joblib

# Load the model from the file
loaded_model = joblib.load(r'C:\Users\DELL\Downloads\best_model_house_price.pkl')

In [62]:
# Make predictions on the test data
y_pred = loaded_model.predict(df_test_scaled)

In [63]:
y_pred

array([26806.053, 27516.38 , 26468.746, ..., 46262.22 , 28608.574,
       27662.469], dtype=float32)

In [64]:
# Add the predicted 'SalePrice' to the test DataFrame
df_test['SalePrice'] = y_pred
# Print the DataFrame with predictions
df_test

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,20,2,80.0,11622,1,2,3,3,0,4,...,0,2,2,3,0,6,2010,8,4,26806.052734
1,20,3,81.0,14267,1,2,0,3,0,0,...,0,2,4,0,12500,6,2010,8,4,27516.380859
2,60,3,74.0,13830,1,2,0,3,0,4,...,0,2,2,3,0,3,2010,8,4,26468.746094
3,60,3,78.0,9978,1,2,0,3,0,4,...,0,2,4,3,0,6,2010,8,4,26468.746094
4,120,3,43.0,5005,1,2,0,1,0,4,...,0,2,4,3,0,1,2010,8,4,28020.337891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,20,3,80.0,13384,1,2,3,3,0,4,...,0,2,4,3,0,5,2006,8,4,29802.291016
1452,160,4,21.0,1533,1,2,3,3,0,4,...,0,2,4,3,0,12,2006,8,0,46262.218750
1455,160,4,21.0,1894,1,2,3,3,0,4,...,0,2,4,3,0,4,2006,8,0,46262.218750
1456,20,3,160.0,20000,1,2,3,3,0,4,...,0,2,4,3,0,9,2006,8,0,28608.574219
1458,60,3,74.0,9627,1,2,3,3,0,4,...,0,2,4,3,0,11,2006,8,4,27662.468750

In [65]:
ids

0       1461
1       1462
2       1463
3       1464
4       1465
        ...
1451    2912
1452    2913
1455    2916
1456    2917
1458    2919
Name: Id, Length: 1365, dtype: int64

In [71]:
df_test.drop(columns="Id",axis=1,inplace=True)

In [72]:
df_test.insert(0, 'Id', ids)

In [73]:
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,2,80.0,11622,1,2,3,3,0,...,0,2,2,3,0,6,2010,8,4,26806.052734
1,1462,20,3,81.0,14267,1,2,0,3,0,...,0,2,4,0,12500,6,2010,8,4,27516.380859
2,1463,60,3,74.0,13830,1,2,0,3,0,...,0,2,2,3,0,3,2010,8,4,26468.746094
3,1464,60,3,78.0,9978,1,2,0,3,0,...,0,2,4,3,0,6,2010,8,4,26468.746094
4,1465,120,3,43.0,5005,1,2,0,1,0,...,0,2,4,3,0,1,2010,8,4,28020.337891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,2912,20,3,80.0,13384,1,2,3,3,0,...,0,2,4,3,0,5,2006,8,4,29802.291016
1452,2913,160,4,21.0,1533,1,2,3,3,0,...,0,2,4,3,0,12,2006,8,0,46262.218750
1455,2916,160,4,21.0,1894,1,2,3,3,0,...,0,2,4,3,0,4,2006,8,0,46262.218750
1456,2917,20,3,160.0,20000,1,2,3,3,0,...,0,2,4,3,0,9,2006,8,0,28608.574219
1458,2919,60,3,74.0,9627,1,2,3,3,0,...,0,2,4,3,0,11,2006,8,4,27662.468750

In [74]:
df_test1 = df_test[['Id','SalePrice']]

In [75]:
df_test1

        Id     SalePrice
0     1461  26806.052734
1     1462  27516.380859
2     1463  26468.746094
3     1464  26468.746094
4     1465  28020.337891
...    ...           ...
1451  2912  29802.291016
1452  2913  46262.218750
1455  2916  46262.218750
1456  2917  28608.574219
1458  2919  27662.468750

[1365 rows x 2 columns]